@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}
.gradient-text {
  background: linear-gradient(90deg, #632ee3 0%, #9f62f2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
