@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}
.gradient-text {
  background: linear-gradient(135deg, #632ee3 0%, #9f62f2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary{
  @apply 
  bg-gradient-to-r from-[#632EE3] to-[#9F62F2]
   text-white
    py-2 
    px-4 
    rounded-md 
  hover:bg-gradient-to-r hover:from-[#9F62F2] hover:to-[#632EE3]
  hover:opacity-80

}